doctype html
html
  head
    title Aman DA
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.png")
                | ADA
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/classinfo">Class info</a></li>
            <li><a href="/contact">Contact Us</a></li>
    block content
    footer#foot
        | Copyright © 2020 dancewithaman.com | All rights reserved